:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #343a40;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--background-color);
}

button, select {
    cursor: pointer;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: white;

    width: 200px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    border-radius: 5px;
}

.menu-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-item {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.map {
    width: 100%;
    height: 100%;
}

.ui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pieces {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.pieces-header, .controls-header, .position-header {
    width: 100%;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.pieces-body, .controls-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.piece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 2px 5px;
    padding: 5px;
    width: 100%;
    color: white;
    border-radius: 5px;

    label {
        margin-right: 10px;
    }
}

.piece:hover, .control:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.controls {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2px 5px;
    padding: 5px;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.position {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.position-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.path-line {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    transform-origin: top left;
    background-color: black;
    height: 2px;
}



